<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="default/head"></head>

<link href="../assets/css/validation.css" rel="stylesheet">

<body class="">
  <nav th:replace="default/navbar"></nav>

  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div
              class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
              <div
                class="position-relative bg-gradient-primary h-100 px-7 border-radius-lg d-flex flex-column justify-content-center"
                style="background-image: url('../assets/img/education.png'); background-size: cover;">
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Increva-se</h4>
                  <p class="mb-0">Digite seu e-mail e senha para se cadastrar</p>
                </div>
                <div class="card-body">
                  <div th:if="${erro}" class="alert alert-danger alert-dismissible text-white" role="alert">
                    <span class="text-sm" th:text="${erro}"></span>
                    <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  
                  <!-- 
                    @see https://frontbackend.com/thymeleaf/thymeleaf-utility-methods-for-strings
                    @see https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#standard-expression-syntax 
                  -->

                  <form role="form" action="#" th:action="@{/cadastro}" th:object="${usuarioForm}" method="post">
                    <div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? 'has-error'">
                    
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(usuarioForm.nome)} ? 'is-filled'">
                        <label class="form-label">Nome</label>
                        <input type="text" name="nome" class="form-control" th:value="*{nome}" th:field="*{nome}"
                          th:errorclass="is-invalid" />
                      </div>

                      <label class="error" for="nome" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></label>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('cpf')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(usuarioForm.cpf)} ? 'is-filled'">
                        <label class="form-label">CPF</label>
                        <input type="text" name="cpf" class="form-control" th:field="*{cpf}" th:value="*{cpf}"
                          th:errorclass="is-invalid" />
                      </div>

                      <label class="error" for="cpf" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></label>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3" th:classappend="${not #strings.isEmpty(usuarioForm.email)} ? 'is-filled'">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" th:field="*{email}" th:value="*{email}" th:errorclass="is-invalid" />
                      </div>
  
                      <label class="error" for="email" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('senha')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3" th:classappend="${not #strings.isEmpty(usuarioForm.senha)} ? 'is-filled'">
                        <label class="form-label">Senha</label>
                        <input type="password" name="senha" class="form-control" th:field="*{senha}" th:value="${senha}"
                            th:errorclass="is-invalid" />
    
                      </div>
                      <label class="error" for="senha" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></label>
                    </div>

                    <div class="form-group" th:classappend="${#fields.hasErrors('confirma_senha')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3" th:classappend="${not #strings.isEmpty(usuarioForm.confirma_senha)} ? 'is-filled'">
                        <label class="form-label">confirme a senha</label>
                        <input type="password" name="confirma_senha" class="form-control" th:field="*{confirma_senha}" th:value="${confirma_senha}"
                            th:errorclass="is-invalid" />
    
                      </div>
                      <label class="error" for="confirma_senha" th:if="${#fields.hasErrors('confirma_senha')}" th:errors="*{confirma_senha}"></label>
                    </div>
                    
                    <div class="text-center">
                      <button type="submit"
                        class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Cadastre</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-2 text-sm mx-auto">
                    Já possui uma conta?
                    <a th:href="@{/login}" class="text-primary text-gradient font-weight-bold">Entrar</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer th:replace="default/footer :: addClass('bottom-2')"></footer>
  </main>

  <script th:replace="default/scripts"></script>
</body>

</html>