<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="default/head"></head>

<link th:href="@{/assets/css/validation.css}" rel="stylesheet">

<body>

  <aside th:replace="default/sidebar"></aside>

  <main class="main-content position-relative max-height-vh-100 h-100">

    <navbar th:replace="default/topbar"></navbar>

    <div class="container-fluid px-2 px-md-4">
      <div class="card card-body mx-3 mx-md-4 mb-3">
        <div class="row gx-4 mb-2">
          <div class="col-auto my-auto">
            <div class="h-100 p-3">
              <h5 th:text="${#authentication.getPrincipal().nome}" class="mb-1">nome</h5>
              <p  th:text="${#authentication.getPrincipal().email}" class="mb-0 font-weight-normal text-sm">email</p>
            </div>
          </div>
        </div>
        <div class="row">
          <form th:action="@{/curriculo}" th:object="${curriculoForm}" method="post" action="#" class="d-flex">
            <div class="col-xl-6 col-md-12">
              <div class="apresentacao row">
                <div class="card card-plain h-100">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Apresentação</h6>
                  </div>
                  <div class="card-body p-3">                
                    <div class="form-group" th:classappend="${#fields.hasErrors('apresentacao')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(curriculoForm.apresentacao)} ? 'is-filled'">
                        <textarea type="text" rows="13" name="apresentacao" class="form-control" 
                          th:value="*{apresentacao}" 
                          th:field="*{apresentacao}"
                          th:errorclass="is-invalid">
                        </textarea>
                      </div>
  
                      <label class="error" for="apresentacao" th:if="${#fields.hasErrors('apresentacao')}" th:errors="*{apresentacao}"></label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="endereco row">
                <div class="card card-plain h-100">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Endereço</h6>
                  </div>
                  <div class="card-body p-3">                
                    <div class="form-group" th:classappend="${#fields.hasErrors('rua')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(curriculoForm.rua)} ? 'is-filled'">
                        <label class="form-label">Rua</label>
                        <input type="text" name="rua" class="form-control" th:value="*{rua}" th:field="*{rua}"
                          th:errorclass="is-invalid" />
                      </div>
  
                      <label class="error" for="rua" th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}"></label>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('numero')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(curriculoForm.numero)} ? 'is-filled'">
                        <label class="form-label">Número</label>
                        <input type="text" name="numero" class="form-control" th:field="*{numero}" th:value="*{numero}"
                          th:errorclass="is-invalid" />
                      </div>
  
                      <label class="error" for="cpf" th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}"></label>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('bairro')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3" th:classappend="${not #strings.isEmpty(curriculoForm.bairro)} ? 'is-filled'">
                        <label class="form-label">Bairro</label>
                        <input type="text" name="bairro" class="form-control" th:field="*{bairro}" th:value="*{bairro}" th:errorclass="is-invalid" />
                      </div>
  
                      <label class="error" for="bairro" th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}"></label>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('cep')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3" th:classappend="${not #strings.isEmpty(curriculoForm.cep)} ? 'is-filled'">
                        <label class="form-label">CEP</label>
                        <input type="text" name="cep" class="form-control" th:field="*{cep}" th:value="${cep}"
                            th:errorclass="is-invalid" />
  
                      </div>
                      <label class="error" for="cep" th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}"></label>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('cidade')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3" th:classappend="${not #strings.isEmpty(curriculoForm.cidade)} ? 'is-filled'">
                        <label class="form-label">Cidade</label>
                        <input type="text" name="cidade" class="form-control" th:field="*{cidade}" th:value="${cidade}"
                            th:errorclass="is-invalid" />
  
                      </div>
                      <label class="error" for="cidade" th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></label>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('estado')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3" th:classappend="${not #strings.isEmpty(curriculoForm.estado)} ? 'is-filled'">
                        <label class="form-label">Estado</label>
                        <input type="text" name="estado" class="form-control" th:field="*{estado}" th:value="${estado}"
                            th:errorclass="is-invalid" />
  
                      </div>
                      <label class="error" for="estado" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-12">
              <div class="fomacoes row">
                <div class="card card-plain">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Formações</h6>
                  </div>
                  <div class="card-body p-3">
                    
                    <div class="form-group" th:classappend="${#fields.hasErrors('formacao')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(curriculoForm.formacao)} ? 'is-filled'">
                        <label class="form-label">Formação</label>
                        <input type="text" name="formacao" class="form-control" th:value="*{formacao}" th:field="*{formacao}"
                          th:errorclass="is-invalid" />
                      </div>
  
                      <label class="error" for="formacao" th:if="${#fields.hasErrors('formacao')}" th:errors="*{formacao}"></label>
                    </div>
  
                    <div class="form-group" th:classappend="${#fields.hasErrors('instituicao')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(curriculoForm.formacao)} ? 'is-filled'">
                        <label class="form-label">Instiuição</label>
                        <input type="text" name="instituicao" class="form-control" th:value="*{instituicao}" th:field="*{instituicao}"
                          th:errorclass="is-invalid" />
                      </div>
  
                      <label class="error" for="instituicao" th:if="${#fields.hasErrors('instituicao')}" th:errors="*{instituicao}"></label>
                    </div>
  
                    <div class="form-group" th:classappend="${#fields.hasErrors('tipoFormacao')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(curriculoForm.tipoFormacao)} ? 'is-filled'">
                        <!-- <label class="form-label">Tipo Formação</label> -->
                        <select name="tipoFormacao" th:value="*{tipoFormacao}" th:field="*{tipoFormacao}" class="form-control selectpicker">
                          <option value="0">Selecione o tipo de formação</option>
                          <option th:each="tipoFormacao : ${T(com.estagiei.app.enums.TipoFormacao).values()}" 
                            th:value="${tipoFormacao}" th:text="${tipoFormacao}"></option>
                        </select>
                      </div>
  
                      <label class="error" for="tipoFormacao" th:if="${#fields.hasErrors('tipoFormacao')}" th:errors="*{tipoFormacao}"></label>
                    </div>
  
                    <div class="form-group" th:classappend="${#fields.hasErrors('formacaoInicio')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(curriculoForm.formacaoInicio)} ? 'is-filled'">
                        <label class="form-label">Inicio</label>
                        <input type="date" name="formacaoInicio" class="form-control"
                          placeholder="dd/mm/yyyy"
                          th:value="*{formacaoInicio}" 
                          th:field="*{formacaoInicio}"
                          th:errorclass="is-invalid"
                        />
                      </div>
  
                      <label class="error" for="formacaoInicio" th:if="${#fields.hasErrors('formacaoInicio')}" th:errors="*{formacaoInicio}"></label>
                    </div>
  
                    <div class="form-group" th:classappend="${#fields.hasErrors('formacaoFim')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(curriculoForm.formacaoFim)} ? 'is-filled'">
                        <label class="form-label">Fim</label>
                        <input type="date" name="formacaoFim" class="form-control"
                          placeholder="dd/mm/yyyy"
                          th:value="*{formacaoFim}" 
                          th:field="*{formacaoFim}"
                          th:errorclass="is-invalid"
                        />
                      </div>
  
                      <label class="error" for="formacaoFim" th:if="${#fields.hasErrors('formacaoFim')}" th:errors="*{formacaoFim}"></label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="experiencias row">
                <div class="card card-plain">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Experiências</h6>
                  </div>
                  <div class="card-body p-3">
                    
                    <div class="form-group" th:classappend="${#fields.hasErrors('experiencia')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(curriculoForm.experiencia)} ? 'is-filled'">
                        <label class="form-label">Experiência</label>
                        <input type="text" name="experiencia" class="form-control" th:value="*{experiencia}" th:field="*{experiencia}"
                          th:errorclass="is-invalid" />
                      </div>
  
                      <label class="error" for="experiencia" th:if="${#fields.hasErrors('experiencia')}" th:errors="*{experiencia}"></label>
                    </div>
  
                    <div class="form-group" th:classappend="${#fields.hasErrors('empresa')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(curriculoForm.empresa)} ? 'is-filled'">
                        <label class="form-label">Empresa</label>
                        <input type="text" name="empresa" class="form-control" th:value="*{empresa}" th:field="*{empresa}"
                          th:errorclass="is-invalid" />
                      </div>
  
                      <label class="error" for="empresa" th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}"></label>
                    </div>
  
                    <div class="form-group" th:classappend="${#fields.hasErrors('tipoExperiencia')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(curriculoForm.tipoExperiencia)} ? 'is-filled'">
                        <!-- <label class="form-label">Tipo Formação</label> -->
                        <select name="tipoExperiencia" th:value="*{tipoExperiencia}" th:field="*{tipoExperiencia}" class="form-control selectpicker">
                          <option value="0">Selecione o tipo de experiência</option>
                          <option th:each="tipoExperiencia : ${T(com.estagiei.app.enums.TipoExperiencia).values()}" 
                            th:value="${tipoExperiencia}" th:text="${tipoExperiencia}"></option>
                        </select>
                      </div>
  
                      <label class="error" for="tipoExperiencia" th:if="${#fields.hasErrors('tipoExperiencia')}" th:errors="*{tipoExperiencia}"></label>
                    </div>
  
                    <div class="form-group" th:classappend="${#fields.hasErrors('expInicio')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(curriculoForm.expInicio)} ? 'is-filled'">
                        <label class="form-label">Inicio</label>
                        <input type="date" name="expInicio" class="form-control"
                          placeholder="dd/mm/yyyy"
                          th:value="*{expInicio}" 
                          th:field="*{expInicio}"
                          th:errorclass="is-invalid"
                        />
                      </div>
  
                      <label class="error" for="expInicio" th:if="${#fields.hasErrors('expInicio')}" th:errors="*{expInicio}"></label>
                    </div>
  
                    <div class="form-group" th:classappend="${#fields.hasErrors('expFim')} ? 'has-error'">
                      <div class="input-group input-group-outline mb-3"
                        th:classappend="${not #strings.isEmpty(curriculoForm.expFim)} ? 'is-filled'">
                        <label class="form-label">Fim</label>
                        <input type="date" name="expFim" class="form-control"
                          placeholder="dd/mm/yyyy"
                          th:value="*{expFim}" 
                          th:field="*{expFim}"
                          th:errorclass="is-invalid"
                        />
                      </div>
  
                      <label class="error" for="expFim" th:if="${#fields.hasErrors('expFim')}" th:errors="*{expFim}"></label>
                    </div>
                  </div>

                  <div class="card-footer">
                    <div class="d-flex align-items-center justify-content-end">
                      <button type="submit" class="btn btn-success btn-sm mb-0">Salvar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
    

  <script th:replace="default/scripts"></script>
</body>

</html>