<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="default/head"></head>

<body class="g-sidenav-show  bg-gray-200">

  <aside th:replace="default/sidebar"></aside>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <navbar th:replace="default/topbar"></navbar>

    <!--  Codigo -->
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Programa de Estagio 2021 - WAYON
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Olá Benjamin, estamos muito contente que tenha se inscrito no nosso programa de estágio, que será realizado
            na próxima semana.Fique atento aos prazos.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Confirmação Conclusão do seu teste - Luby Software
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Ei Benjamin, estamos de olho aqui no processo e percebemos que você já finalizou sua etapa de Gerente de
            projetos! <p>
              Espero que essa etapa tenha trazido muito conhecimento, você conheceu a nossa história, sabe mais dos
              nossos mundos e conheceu nossos protagonistas que trabalham por um mundo melhor.
              O seu Feedback deve ser enviado até 10/01, não se preocupa. Além disso, adiamos as datas da nossa próxima
              etapa para quem for aprovado tenha mais tempo para preparação.</p>
            <p>Sendo assim, o Day Challenge, nossa próxima fase, ocorrerá do dia 20/01 em diante. Para quem for
              aprovado, enviaremos maiores informações como sua data, horário e dicas por email!</p>
            <p></p>
            <p>Boa sorte e vem com agente!
            <p> Equipe Luby Software </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Accordion Item #3
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </main>

  <div th:replace="default/plugin"></div>

  <script th:replace="default/scripts"></script>
</body>

</html>