<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="default/head"></head>

<body class="g-sidenav-show  bg-gray-200">

  <aside th:replace="default/sidebar"></aside>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <navbar th:replace="default/topbar"></navbar>

    <div class="container-fluid py-4">

      <th:block th:if="${#request.getParameter('sucesso')}">
        <div th:replace="default/alert :: alert('A sua inscrição para o processo seletivo foi realizada com sucesso!', 'alert-success mb-4')">
        </div>
      </th:block>

      <th:block th:if="${#request.getParameter('erro')}">
        <div th:replace="default/alert :: alert('Você já se inscreveu para esse processo seletivo!', 'alert-danger mb-4')">
        </div>
      </th:block>

      <div class="vagas row">
        <div th:each="vaga: ${vagas}" class="vaga col-xl-3 col-sm-6 mb-xl-4 mb-4 pb-3">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div
                class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">verified</i>
              </div>
              <div class="text-end pt-1">
                <p  th:text="${vaga.empresa.nome}" class="text-sm mb-0 text-capitalize"></p>
                <h4 th:text="${vaga.titulo}" class="mb-0"></h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3 d-flex justify-content-between">
              <ul class="list-unstyled">
                <li class="text-sm font-weight-bolder d-flex align-items-center">
                  <i class="material-icons mr-2">work</i>
                  <span th:text="${vaga.modalidade}" class="px-2">modalidade</span>
                </li>
                <li class="align-items-center d-flex align-items-center">
                  <i class="material-icons mr-2">location_on</i>
                  <span th:text="${vaga.endereco.cidade}" class="px-2"></span> - 
                  <span th:text="${vaga.endereco.estado}" class="px-2"></span>
                </li>
              </ul>
              <a th:href="@{/vagas/} + ${vaga.id}">
                <button type="button" class="btn btn-primary btn-sm">Candidatar</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <div th:replace="default/plugin"></div>

  <script th:replace="default/scripts"></script>
</body>

</html>