<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="default/head"></head>

<link th:href="@{/assets/css/custom.css}" rel="stylesheet">

<body>
  <div th:replace="default/navbar"></div>

  <main class="main-content mt-0">
    <div class="page-header align-items-start min-vh-80" style="background-image: url('https://cdn.pixabay.com/photo/2017/05/11/11/15/workplace-2303851_960_720.jpg');">
      <span class="mask bg-gradient-primary opacity-6"></span>
      <div class="container my-auto inicio">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-12 mx-auto">
            <div class="card card-inicio z-index-0 fadeIn3 fadeInBottom">
              <div class="card-body">
                <div class="text-center">
                  <h2>A Preferida dos estudantes!</h2>
                  <p>A <b>Estagiei.com</b>, é a primeira plataforma de seviço <b>100%</b> dedicada à ajudar estudantes
                    do ensino superior a encontrarem uma vaga de estágio</p>
                </div>
                <div class="input-group input-group-outline mt-5 mb-3">
                  <label class="form-label">Que vaga você procura? Exemplo: estágio em data science.</label>
                  <input type="vagas" class="form-control">
                  <a class="float-end" th:href="@{/vagas}">
                    <button class="button-pesquisa">Buscar</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container tutorial mt-5">
      <h2 class="text-center mb-5">Para se candidatar a uma vaga de estágio basta seguir o seguintes passos:</h2>

      <div class="container d-flex justify-content-center">
        <div class="card-deck row mb-3 text-center">
          <div class="card mb-4 col-lg-4 col-md-12 ms-3 box-shadow">
            <div class="card-header">
            </div>
            <div class="card-body">
              <h3 class="card-title pricing-card-title">1° Passo</h3>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Crie sua conta na platorma.</li>
                <img th:src="@{/assets/img/undraw_profile_re_4a55.svg}" width="250">
              </ul>
    
              <a th:href="@{/cadastro}"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Cadastrar</button></a>
            </div>
          </div>
          <div class="card col-lg-4 col-md-12 mb-4 ms-3 box-shadow">
            <div class="card-header">
            </div>
            <div class="card-body">
              <h3 class="card-title pricing-card-title">2° Passo</h3>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Faça seu curriculo na plataforma</li>
              </ul>
              <img th:src="@{/assets/img/undraw_account_re_o7id.svg}" width="230">
    
            </div>
          </div>
          <div class="card mb-4 col-md-12 col-lg-4 ms-3 box-shadow">
            <div class="card-header">
            </div>
            <div class="card-body">
              <h3 class="card-title pricing-card-title">3° Passo</h3>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Aplique a uma vaga!</li>
              </ul>
              <img th:src="@{/assets/img/undraw_split_testing_l1uw.svg}" width="250">
    
            </div>
          </div>
        </div>
    
    
      </div>  
    </div>
  </main>

  <footer th:replace="default/footer :: addClass('')"></footer>


  <script th:replace="default/scripts"></script>
</body>

</html>